<% provide(:title, 'Contact') %>

<h1 class="title-padding">Contact</h1>
<p>If you have any questions or comments, you can send me an email at the following address:</p>

<%= mail_to "me@saugatghimire.com", 'me@saugatghimire.com', class: "btn btn-link" %>