<% provide(:title, 'Resume') %>

<h1 class="title-margin">Resume</h1>

<h3>Profile</h3>
<p>A motivated and hard working individual with over a year of experience at industry leading companies seeking a challenging position at a top-tier technology company</p>

<h3>Education</h3>
<span>
    <strong>Candidate for Bachelors in Mathematics,</strong>
    <em class="pull-right">September 2011 - present</em><br>
    <p>Computer Science with Business Option, Co-op Program,
   University of Waterloo, ON</p>
</span>

<h3>Work Experience</h3>
<span>
    <strong>nTerop Corporation, Ottawa, ON</strong>
    <em class="pull-right">April 2014 - present</em><br>
    <em>Software Engineer</em>
</span>
<p>As a part of the nTerop team, I had the opportunity to work in a startup environment. I was in charge of developing modules with Puppet in order to automate the server provisioning and configuration process.</p>
<ul>
<li>Researched and documented tools and best practices for server provisioning and configuration management</li>
<li>Developed modules for application dependencies and software</li>
</ul>

<span>
    <strong>Lixar IT, Ottawa, ON</strong>
    <em class="pull-right">September 2013 - December 2013</em><br>
    <em>Software Engineer</em>
</span>
<p>As a part of the Delphi team, I was involved in implementing new functionality to the backend using the .NET Framework. My role also included fixing bugs in both the backend and the web application.</p>
<ul>
<li>Implemented new features and functionality using C#</li>
<li>Used HTML, CSS, JavaScript, and jQuery for frontend development</li>
<li>Practiced the MVC design pattern</li>
<li>Used SVN for version control</li>
<li>Practiced Agile Development methods by participating in sprints and scrums</li>
</ul>

<span>
    <strong>OANDA, Toronto, ON</strong>
    <em class="pull-right">January 2013 - April 2013</em><br>
    <em>Software Developer</em>
</span>
<p>My duties as a member of the Web GUI team involved developing a HTML5 web application. I was responsible for writing tests and developing various parts of the application. At my time at OANDA, I also had the opportunity to participate in two Hackathons, and won various prizes in both of them.</p>
<ul>
<li>Created the application layout using HTML and CSS</li>
<li>Used CoffeeScript with Backbone to build the functionality of the application and Mocha to develop tests</li>
<li>Used Yeoman for application workflow, and Git for version control</li>
<li>Practiced the Behaviour Driven Development methodology</li>
</ul>

<span>
    <strong>Avaya, Ottawa, ON</strong>
    <em class="pull-right">April 2012 - August 2012</em><br>
    <em>Software Engineer</em>
</span>
<p>As a part of the One-X Mobile SIP for iOS team, I was responsible for designing the automation framework, which included developing sanity and regression test cases. My role also included being part of the Product Verification team to execute manual testing for product quality assurance.</p>
<ul>
<li>Used Apple Instruments IDE to develop, test and demo automation process</li>
<li>Created scripts to download and install application, and report the results using shell scripts and AppleScript</li>
<li>Executed regression test cases and reported bugs found in the application</li>
<li>Provided knowledge transfer to new employees</li>
</ul>

<h3>Technical Skills</h3>
<ul>
<li>Web Development: HTML, CSS, JavaScript, JQuery, CoffeeScript, Backbone.js, Rails</li>
<li>Software Development: C++, C#, XNA, C, Objective-C, Visual Basic, Scheme, Ruby, Puppet</li>
<li>IDEs: Microsoft Visual Studio, Xcode, Apple Instruments, Dr. Racket, Adobe Actionscript</li>
<li>Operating Systems: Linux, Mac OS X, Windows</li>
<li>Version Control: Git, SVN</li>
</ul>

<h3>Personal Projects/Portfolio</h3>

<span>
    <strong>Spaceball</strong>
    <em class="pull-right">January 2011</em><br>
    <em>iPhone/iPod Touch Game</em>
</span>
<ul>
  <li>Independently developed a game for the Apple iPhone and iPod Touch and published to
    the Apple App Store</li>
</ul>

<span>
    <strong>Gold Collector</strong>
    <em class="pull-right">November 2009</em><br>
    <em>Xbox Game</em>
</span>
<ul>
<li>Independently developed a game for the Xbox</li>
</ul>

<h3>AWARDS AND SCHOLARSHIP</h3>
<ul>
<li>President’s Scholarship, University of Waterloo Entrance Scholarship, September 2011</li>
<li>Winner of Queen Elizabeth II Aiming for the Top Scholarship, University of Waterloo, September 2011</li>
<li>Outstanding Academic Achievement Award (Top 3 Averages 2011 (above 90%))</li>
<li>Science Achievement Award (Highest Science Average 2011)</li>
<li>The Bard Award for Dramatic Excellence (Best Shakespeare play 2011)</li>
<li>Computer Science Student of the Year (2010)</li>
<li>Honour Award (2008-2010)</li>
<li>Bill Gates Award - Excellence in Computer programming (students contest) (2010)</li>
<li>Superior Achievement in Canadian Math League Contest (2009)</li>
</ul>

<h3>ACTIVITIES AND INTERESTS</h3>
<ul>
<li>Ottawa Food Bank volunteer 2005 – 2013</li>
<li>Enjoy playing guitar and actively participate in multicultural shows</li>
<li>Health and fitness (active member of the UW Serve volleyball club, Team Beachbody coach)</li>
</ul>