<% provide(:title, 'Resume') %>

<h1 class="title-margin">Resume</h1>

<h3>Technical Skills</h3>
<strong>Proficient Languages:</strong> Java, C/C++, Objective-C, C#, JavaScript, Ruby on Rails<br>
<strong>Familiar Languages:</strong> Python, Ruby, Puppet, PostgreSQL, MySQL<br>
<strong>IDEs:</strong> Eclipse, XCode, Visual Studio

<h3>Work Experience</h3>
<span>
    <strong>Redfin</strong>
    <span class="pull-right">January 2015 - April 2015</span><br>
    <em>Software Developer</em>
    <span class="pull-right">Seattle, WA</span><br>
</span>
<ul>
    <li>Migrated Redfin’s similar homes data source from BerkeleyDB to DynamoDB in the Java backend</li>
    <li>Developed Shared Search features on both Web and iOS, which allows co-buyers to socialize their home preferences (used Objective-C and Dojo toolkit)</li>
    <li>Conducted AB experiments in frontend and backend to track the customer impact of new features and enhancements</li>
    <li>Designed and developed a web interface using React.js for an in-house tracking tool during the company hackathon</li>
</ul>

<span>
    <strong>nTerop Corporation</strong>
    <span class="pull-right">May 2014 - August 2014</span><br>
    <em>Software Engineer</em>
    <span class="pull-right">Ottawa, ON</span><br>
</span>
<ul>
    <li>Developed Puppet modules to automate server provisioning and configuration, both locally and on AWS, cutting down the time needed to spin up a new server from days to minutes</li>
    <li>Developed a mobile application using PhoneGap</li>
</ul>

<span>
    <strong>Lixar IT</strong>
    <span class="pull-right">September 2013 - December 2013</span><br>
    <em>Software Engineer</em>
    <span class="pull-right">Ottawa, ON</span><br>
</span>
<ul>
    <li>Created JSON APIs for the Azure back-end using C#</li>
    <li>Developed front-end features using HTML5, CSS3 and jQuery</li>
</ul>

<span>
    <strong>OANDA</strong>
    <span class="pull-right">January 2013 - April 2013</span><br>
    <em>Software Developer</em>
    <span class="pull-right">Toronto, ON</span><br>
</span>
<ul>
    <li>Developed a web application from the ground up using the behaviour driven development methodology (CoffeeScript, Backbone.js, Yeoman)</li>
    <li>Implemented tests for new features using Mocha</li>
    <li>Participated in two company hackathons and won in both</li>
</ul>

<span>
    <strong>Avaya</strong>
    <span class="pull-right">April 2012 - August 2012</span><br>
    <em>Software Engineer</em>
    <span class="pull-right">Ottawa, ON</span><br>
</span>
<ul>
    <li>Led a small team of three developers to develop an iOS Automation framework using Apple Instruments</li>
    <li>Implemented scripts that tested the latest build on a daily basis and notified developers when tests failed, saving the QA team several hours every week</li>
</ul>

<h3>Personal Projects/Portfolio</h3>

<span>
    <strong>UW Portal Widget, JavaScript - </strong> An online grade calculator widget created for University of Waterloo’s portal
</span><br>
<span>
    <strong>Earth Defence, C++/Xlib Game - </strong> Tower Defence game, involving smooth animations and collision detection
</span><br>
<span>
    <strong>www.saugatghimire.com, Rails Application - </strong> Personal website and blog built using Ruby on Rails
</span><br>
<span>
    <strong>Spaceball, iOS Game - </strong> Independently developed an iOS game and published it to the Apple App store
</span><br>
<span>
    <strong>Gold Collector, Xbox Game - </strong> Independently developed a game for the Xbox using the XNA library
</span><br>

<h3>Education</h3>
<span>
    <strong>University of Waterloo</strong>
    <span class="pull-right">September 2011 - present</span><br>
    <em>Candidate for Bachelors in Computer Science with Business Option, Co-op Program</em>
    <span class="pull-right">Waterloo, ON</span><br>
</span>