<% provide(:title, 'Resume') %>

<h1 class="title-padding">Resume</h1>

<h3>TECHNICAL SKILLS</h3>
<ul>
<li>Web Development: HTML, CSS, JavaScript, Square Space</li>
<li>Software Development: C++, C#, XNA, Objective C, Visual Basic, Scheme, OOP, Git, SVN</li>
<li>IDEs: Microsoft Visual Studio, Xcode, Apple Instruments, Dr. Racket, Adobe Actionscript</li>
<li>Operating Systems: Windows, Mac OSX, Linux</li>
<li>Graphics and Media Designing: Adobe Photoshop CS5</li>
<li>Suites: Microsoft Office, Star Office, Open Office, Google Documents</li>
</ul>

<h3>SUMMARY OF SKILLS</h3>

<ul>
<li>Exceptional leadership skills developed through leadership club in highschool and through work and volunteer experience</li>
<li>Good interpersonal, customer service, communication skills and ability to work in a fast paced environment</li>
<li>Organized and adaptable to new work environments, keen on learning new skills</li>
</ul>

<h3>WORK EXPERIENCE</h3>

<span>
    <strong>OANDA, Toronto, ON</strong>
    <em class="pull-right">January 2013 - April 2013</em><br>
    <em>Software Developer</em>
</span>
<p>My duties as a member of the Web GUI team involved developing a HTML5 web application. I was responsible for writing tests and developing various parts of the application. At my time at OANDA, I also had the opportunity to participate in two Hackathons, and won various prizes in both of them.</p>
<p>Technical knowledge gained include:</p>
<ul>
<li>Created the application layout using HTML and CSS</li>
<li>Used CoffeeScript with Backbone to build the functionality of the application and Mocha to develop tests</li>
<li>Used Yeoman for application workflow</li>
<li>Practiced Agile Development methods by participating in sprints, scrums, etc.</li>
<li>Practiced the Behaviour Driven Development methodology</li>
</ul>

<span>
    <strong>Avaya, Ottawa, ON</strong>
    <em class="pull-right">April 2012 - August 2012</em><br>
    <em>Software Engineer</em>
</span>
<p>As a part of the One-X Mobile SIP for iOS team, I was responsible for designing the automation framework, which included developing sanity and regression test cases. My role also included being part of the Product Verification team to execute manual testing for product quality assurance.</p>
<p>Technical knowledge gained include:</p>
<ul>
<li>Used Apple Instruments IDE to develop, test and demo automation process</li>
<li>Created scripts to download and install application, and report the results using shell scripts and applescript.</li>
<li>Executed regression test cases and reported bugs found in the application</li>
<li>Practiced Agile Development methods by participating in sprints, scrums, etc.</li>
<li>Provided knowledge transfer to new employees</li>
</ul>

<span>
    <strong>Ottawa Centre for Regional Innovation (OCRI), Ottawa, ON</strong>
    <em class="pull-right">July 2010 - August 2010</em><br>
    <em>Web Designer and Developer</em>
</span>
<p>As a web designer and developer, I was responsible for improving the Ottawa Technology Program website design and graphics to make computer science more appealing to younger students. I also had the opportunity to work with experienced programmers to create tutorials in Adobe Flash.</p>
<p>Key accomplishments include:</p>
<ul>
<li>Improved the website layout, design and graphics of the Ottawa Technology Program</li>
<li>Promoted Computer Science to younger students ranging from Grade 3 to high school, by making the website appealing and interactive</li>
<li>Created tutorials to teach students how to use Adobe Flash</li>
<li>Collaborated with other teams working on programming, developing team work and communication skills</li>
</ul>

<h3>PERSONAL PROJECTS/PORTFOLIO</h3>

<span>
    <strong>Spaceball</strong>
    <em class="pull-right">January 2011</em><br>
    <em>iPhone/iPod Touch Game</em>
</span>
<ul>
  <li>Independently developed a game for the Apple iPhone and iPod Touch and published to
    the Apple App Store</li>
</ul>

<span>
    <strong>Gold Collector</strong>
    <em class="pull-right">November 2009</em><br>
    <em>Xbox Game</em>
</span>
<ul>
<li>Independently developed a game for the Xbox</li>
</ul>

<h3>EDUCATION</h3>

<span>
    <strong>Candidate for Bachelors in Mathematics,</strong>
    <em class="pull-right">September 2011 - present</em><br>
    <p>Computer Science with Business Option, Co-op Program,
   University of Waterloo, ON</p>
</span>

<h3>AWARDS AND SCHOLARSHIP</h3>
<ul>
<li>President’s Scholarship, University of Waterloo Entrance Scholarship, September 2011</li>
<li>Winner of Queen Elizabeth II Aiming for the Top Scholarship, University of Waterloo, September 2011</li>
<li>Outstanding Academic Achievement Award (Top 3 Averages 2011 (above 90%))</li>
<li>Science Achievement Award (Highest Science Average 2011)</li>
<li>The Bard Award for Dramatic Excellence (Best Shakespeare play 2011)</li>
<li>Computer Science Student of the Year (2010)</li>
<li>Honour Award (2008-2010)</li>
<li>Bill Gates Award - Excellence in Computer programming (students contest) (2010)</li>
<li>Superior Achievement in Canadian Math League Contest (2009)</li>
</ul>

<h3>VOLUNTEER EXPERIENCE</h3>

<span>
    <strong>Ottawa Food Bank, Ottawa, ON</strong>
    <em class="pull-right">2005 - 2012</em><br>
    <em>Volunteer and Personnel Coordinator (40 hours every summer)</em>
</span>
<ul>
<li>Provide support to management staff through weekly reports and verbal feedback</li>
<li>Organize and enhanced the door-to-door food drive with more than 20 volunteers</li>
</ul>

<span>
    <strong>Nepalese Canadian Association of Ottawa (NCAO), Ottawa, ON</strong>
    <em class="pull-right">January 2003 - June 2011</em><br>
    <em>Community Volunteer</em>
</span>
<ul>
<li>Organized various programs and gatherings for the community such as skating in the winter and
    parties during festivals</li>
<li>Hosted and took part in various cultural programs</li>
</ul>

<h3>ACTIVITIES AND INTERESTS</h3>
<ul>
<li>Enjoy playing guitar and actively participate in multicultural shows</li>
<li>Sports (High School sport teams member - volleyball, badminton, soccer etc., Nominated for Athlete of the Year)</li>
<li>Active member of the Bioinformatics Club and the Table Tennis Club at the University of Waterloo</li>
</ul>