<% provide(:title, 'Blogs') %>
<h1>All Blogs</h1>

<ul id="blog-list" class="list-unstyled">
  <% @blogs.each do |blog| %>
    <%= render 'preview', :blog => blog %>
  <% end %>
</ul>

<%= will_paginate %>

<% if signed_in? %>
  <br><%= link_to "Create a New Blog", new_blog_path %>
<% end %>