<% provide(:title, 'Blogs') %>
<h1>All Blogs</h1>

<ul class="list-unstyled">
  <% @blogs.each do |blog| %>
    <%= render 'preview', :blog => blog %>
  <% end %>
</ul>

<% if signed_in? %>
  <%= link_to "Create a New Blog", new_blog_path %>
<% end %>