<% provide(:title, 'Earth Defence') %>

<h1 class="title-margin">Earth Defence</h1>

<div class="col-md-6">
  <%= image_tag "projects/earth_defence/main.png", size: "527x392", :alt => "Earth Defence Main", class: "img-thumbnail" %>
</div>
<div class="col-md-6">
  <p>"It is the year 2317 and the earth is being attacked by alien spaceships. There is a protective layer around the earth's atmosphere, however it can only withstand a certain amount of damage.</p>
  <p>You are in charge of protecting the planet and destroying the enemy spaceships. Enemy spaceships can also fire pink goo, which can be destroyed by shooting at them."</p>
  <p>Earth Defence is a 2D game developed in C++ using the X11 library.</p>
</div>
<div class="col-md-6">
  <%= image_tag "projects/earth_defence/beginning.png", size: "527x392", :alt => "Earth Defence Main", class: "img-thumbnail" %>
</div>
<div class="col-md-6">
  <%= image_tag "projects/earth_defence/middle.png", size: "527x392", :alt => "Earth Defence Main", class: "img-thumbnail" %>
</div>