<% provide(:title, 'Grade Calculator') %>

<h1 class="title-margin">Grade Calculator</h1>

<div class="col-md-4">
  <%= image_tag "projects/gradeCalculator.png", size: "400", :alt => "Grade Calculator", class: "img-thumbnail" %>
</div>
<div class="col-md-6">
  <p>Grade calculator is a widget that allows the student to calculate their current grades in their classes. It also gives students the ability to set a target mark. Depending on the target mark, the widget will tell you what you are required to achieve on the rest of the assessments.</p>
  <p>The data is stored in the University of Waterloo database using their existing JSON API.</p>
</div>