<% provide(:title, 'Tags') %>
<h1>All Tags</h1>

<ul class="list-unstyled">
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag), class: "blog-tag" %>
    </li>
  <% end %>
</ul>