<% provide(:title, @tag.name) %>

<h1>Blogs Tagged with <%= @tag.name %></h1>

<ul class="list-unstyled">
  <% @tag.blogs.each do |blog| %>
    <%= render 'blogs/preview', :blog => blog %>
  <% end %>
</ul>

<br><br>
<%= link_to "See all tags", tags_path, class: "btn btn-large btn-default" %><br>

<% if signed_in? %>
  <%= link_to "Delete", tag_path(@tag), method: :delete, data: {confirm: "Are you sure you want to delete this tag?"} %>
<% end %>