$maroon: #5C0000;
$maroon-light: #9C0000;
$grey: #efefef;
$green: #00CC00;
$green-dark: #269926;

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$navbar-default-bg: $maroon;
$body-bg: $grey;
$panel-footer-bg: $maroon;
$panel-primary-text: $grey;

$navbar-default-link-color: $grey;
$navbar-default-link-hover-color: $green-dark;

$btn-default-border: $maroon;
$btn-default-bg: $maroon-light;
$btn-default-color: $grey;


$navbar-height: 65px;
$panel-footer-padding: 2px;

@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-size {
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  padding-top: 80px;
  margin-bottom: 40px;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:30px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -20px; /* negative value of footer height */
  height: 30px;
  clear:both;
  // padding-top:20px;
} 

h1 {
  color: $maroon;
}

a {
  color: $maroon;
  &:hover {
    color: $green-dark;
    text-decoration: none;
  }
}

#logo{
  margin-top:  10px;
  color: $grey;
  float: left;
  margin-right: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  letter-spacing: -1px;
  padding-top: 9px;
  line-height: 1;
  &:hover {
    color: $green-dark;
    text-decoration: none;
  }
}

.title-margin {
  margin-bottom:  20px;
}

.panel-footer {
  border-top: 0px;
  color: $grey;
}

.main-background {
  background-color: $grey;
}

.blog-header {
  font-size: 20px;
  color: $maroon;
  &:hover {
    color: $green-dark;
  }
}

#blog-list {
  li {
    margin-bottom: 15px;
  }
}

.comment-block {
  margin-top: 20px;
}

.custom-link {
  font-size: 16px;
  color: $maroon;
  &:hover {
    cursor: pointer;
    cursor: hand;
    color: $green-dark;
  }
}

.comment-name {
  font-size: 16px;
  font-weight: bold;
}

.comment-body {
  margin-top: 7px;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.blog-tag {
  font-size: 15px;
  color: $green-dark;
  &:hover {
    cursor: pointer;
    cursor: hand;
    color: $maroon-light;
  }
}

.project-container {
  height: 340px;

  .project-content {
    vertical-align: bottom;

    .img-thumbnail {
      width: 300px;
      height: 300px;
    }
  }

  .project-title {
    margin-top: 5px;
    font-size: 20px;
    color: $maroon;
    &:hover {
      color: $green-dark;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 400px;
  height: 200px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

form {
  margin-top: 30px;
  margin-bottom: 20px;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.pagination {
  li {
    span, a {
      background-color: $maroon-light;
      color: $grey;
      border-color: $maroon;

      &:hover, &:focus {
        color: $grey;
        background-color: $maroon;
        border-color: $maroon;
      }
    }
  }

  .active {
    a, a:hover, a:focus, span, span:hover, span:focus {
      color: $maroon;
      background-color: $grey;
      border-color: $maroon;
    }
  }

  .disabled {
    a, a:hover, a:focus, span, span:hover, span:focus {
      color: $green-dark;
      background-color: $grey;
      border-color: $maroon;
      cursor: default;
    }
  }
}